.Question {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .MuiTextField-root, .MuiFormControl-root {
    width: 70%;
  }
  .Question_result {
    margin-top: 15px;
    .MuiTypography-root {
      white-space: pre-wrap; 
      word-wrap: break-word; 
    }
  }
  .required {
    color: red;
  }